ASSIGNMENT: KNN-3

KNN_CLASSIFIER

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = sns.load_dataset("iris")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
species_label = LabelEncoder()

In [6]:
df['species'] = species_label.fit_transform(df['species'])

In [7]:


df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [8]:


X= df.iloc[:,:-1]
y= df.iloc[:,-1]

In [9]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int32

In [11]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [13]:
k = 5
knn = KNeighborsClassifier(n_neighbors=k)

# Train the KNN classifier on the training set
knn.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = knn.predict(X_test)

# Evaluate the performance of the KNN classifier
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        13

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45


KNN_REGRESSOR

In [6]:
import seaborn as sns
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Load the mpg dataset from seaborn
mpg = sns.load_dataset('mpg')

# Drop rows containing missing values
mpg.dropna(inplace=True)

# Split the dataset into features (X) and target variable (y)
X = mpg[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration']]
y = mpg['mpg']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create a KNN regressor object with k=5
knn = KNeighborsRegressor(n_neighbors=5)

# Fit the model to the training data
knn.fit(X_train, y_train)

# Predict on the test data
y_pred = knn.predict(X_test)

# Evaluate the model
print('R-squared:', knn.score(X_test, y_test))

R-squared: 0.6388276949803016

Write a Python function to calculate the euclidean distance between two points

In [7]:
import math

def euclidean_distance(point1, point2):
    """
    Calculates the Euclidean distance between two points.
    """
    squared_distance = 0
    for i in range(len(point1)):
        squared_distance += (point1[i] - point2[i])**2
    return math.sqrt(squared_distance)

In [8]:
point1 = (1, 2, 3)
point2 = (4, 5, 6)
distance = euclidean_distance(point1, point2)
print(distance)

5.196152422706632

Write a Python function to calculate the manhattan distance between two points

In [11]:
def manhattan_distance(point1, point2):
    """
    Calculates the Manhattan distance between two points.

    Args:
        point1 (tuple): The first point, represented as a tuple of coordinates.
        point2 (tuple): The second point, represented as a tuple of coordinates.

    Returns:
        float: The Manhattan distance between the two points.
    """
    return sum(abs(a - b) for a, b in zip(point1, point2))

In [12]:
point1 = (1, 2, 3)
point2 = (4, 5, 6)
distance = manhattan_distance(point1, point2)
print(distance)

9